.block-editor .wp-block-custom-post-type-widget-blocks-tag-cloud {
	a {
		display: inline-block;
		margin-right: 5px;
	}

	span {
		display: inline-block;
		margin-left: 5px;
		color: $dark-gray-100;
		text-decoration: none;
	}
}
