// Included Modules
@use "../../scss/helper";

.block-editor .wp-block-custom-post-type-widget-blocks-tag-cloud {
	a {
		display: inline-block;
		margin-right: 5px;
	}

	span {
		display: inline-block;
		margin-left: 5px;
		color: helper.$gray-700;
		text-decoration: none;
	}
}
