// Included Modules
@use "../../scss/base-styles/variables";

.wp-block[data-align="center"] {
	.wp-block-custom-post-type-widget-blocks-search {
		.wp-block-custom-post-type-widget-blocks-search__inside-wrapper {
			margin: auto;
		}
	}
}

.wp-block-custom-post-type-widget-blocks-search {
	.wp-block-custom-post-type-widget-blocks-search__input {
		padding: variables.$grid-unit-10;
	}

	&.wp-block-custom-post-type-widget-blocks-search__button-inside .wp-block-custom-post-type-widget-blocks-search__inside-wrapper {
		padding: variables.$grid-unit-05;
	}

	.wp-block-custom-post-type-widget-blocks-search__button {
		height: auto;
		border-radius: initial;

		// This needs high specificity because it otherwise inherits styles from `components-button`.
		// stylelint-disable-line no-duplicate-selectors
		&.wp-block-custom-post-type-widget-blocks-search__button.wp-block-custom-post-type-widget-blocks-search__button {
			padding: 6px 10px;
			display: flex;
			align-items: center;
		}
	}

	&__components-button-group {
		margin-top: 10px;
	}
}
