.block-editor .wp-block-custom-post-type-widget-blocks-latest-posts {
	padding-left: 0;
}

.block-editor-post-featured-image-control__row .components-responsive-wrapper__content {
	max-width: 100%;
	width: auto;
}
