// Included Modules
@use "../../scss/base-styles/variables";

.wp-block-custom-post-type-widget-blocks-latest-comments.has-avatars .avatar {
	margin-right: 10px;
}

.wp-block-custom-post-type-widget-blocks-latest-comments__comment-excerpt p {
	font-size: 14px;
	line-height: variables.$editor-line-height;
	margin: 5px 0 20px;
	padding-top: 0;
}

.wp-block-custom-post-type-widget-blocks-latest-comments.has-avatars .wp-block-custom-post-type-widget-blocks-latest-comments__comment {
	min-height: 36px;
}
