ol.wp-block-custom-post-type-widget-blocks-latest-comments {
	padding-left: 0;
}

.wp-block-custom-post-type-widget-blocks-latest-comments__comment {
	list-style: none;
	margin-bottom: 1em;

	.has-avatars & {
		margin-block-end: 0.8rem;

		.wp-block-custom-post-type-widget-blocks-latest-comments__comment-meta,
		.wp-block-custom-post-type-widget-blocks-latest-comments__comment-excerpt {
			margin-left: 3.25em;
		}
	}

	.has-dates &,
	.has-excerpts & {
		line-height: 1.5;
	}
}

.wp-block-custom-post-type-widget-blocks-latest-comments__comment-excerpt {
	p {
		font-size: 0.875em;
		line-height: 1.8;
		margin: 0.36em 0 1.4em;
	}
}

.wp-block-custom-post-type-widget-blocks-latest-comments__comment-date {
	display: block;
	font-size: 0.75em;
}

.wp-block-custom-post-type-widget-blocks-latest-comments .avatar,
.wp-block-custom-post-type-widget-blocks-latest-comments__comment-avatar {
	border-radius: 1.5em;
	display: block;
	float: left;
	height: 2.5em;
	margin-right: 0.75em;
	width: 2.5em;
}
