@use "../blocks/calendar/style" as calendar;
@use "../blocks/categories/style" as categories;
@use "../blocks/latest-comments/style" as latest-comments;
@use "../blocks/latest-posts/style" as latest-posts;
@use "../blocks/search/style" as search;
